body{
	position: relative;
}
.wrapper {
	text-align:center;
	margin: auto;
}
#doge {
	color: #d1a14c;
}
button {
	margin: auto;
    font-size: 50px;

}
i {
	margin: auto;
	text-align: center;
	font-size: 50px;
	color: #d1a14c;
}